body{
	overflow-x: hidden; 
}
canvas {
    position: fixed;
    top: 0;
    left: 0;
}
.button-container{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 20px;
	text-align: center;
}
.btn{
	padding-top: 10px;
	margin: 10px;
	box-sizing:border-box;
	font-size: 24px;
	font-family: sans-serif;
	width: 50px;
	font-weight: bold;
	height: 50px;
	display: inline-block;
	vertical-align: top;
	border-radius: 100px;
	background: rgba(255,255,255,0.2);
	color: white;
	cursor: pointer; 
	border:2px solid #2fc2fd;
}
.btn:hover{
	background: rgba(255,255,255,0.8);
	color: #2fc2fd;
}